<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<title>escuela</title>
	{% include 'includes/css.html' %}


	<style type="text/css">
	</style>

</head>
<body>
	<main>
		{% include 'includes/base_comun.html' %}
        <section>
			<div>{% block cursos_izquierda %} {% endblock %}</div>
			<div>{% block cursos_centro %} {% endblock %}</div>
			<div>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Iusto laboriosam sed exercitationem! Non, optio, enim. Facilis suscipit totam nostrum deleniti.</div>
		</section>		
	</main>

		<!-- JQuery -->
		{% include 'includes/js.html' %}

</body>
</html>