{% extends 'base.html' %}
{% load static %}

{% block cursos_izquierda %}
	<!-- Ultimos cursos -->
	<div class="ultimos_cursos">
		<div class="titulo">Ultimos cursos</div>
		{% for curso in lista %}
			<!-- Cada ultimo curso -->
			<div  class="cada_ultimo_curso">
				{% include 'includes/lista_cursos_a.html'%}
			</div>
		{% endfor %}
	</div>

	<div class="mejores_gratuitos">
		<div class="titulo">Mejores gratuitos</div>
		{% for curso in mejores_gratuitos %}
			<!-- Cada ultimo curso -->
			<div  class="cada_mejor_gratuito">
				{% include 'includes/lista_cursos_a.html'%}
			</div>
		{% endfor %}
	</div>


{% endblock %}